html{
    background-color: #B51B75;
}
img{
    height: 300px;
    width: 300px;
    border: 10px solid beige;
}
h1{
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    font-family: "Dancing Script", cursive;
}
h2{
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
}
h3{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: "Kalam", cursive;    
}
#fir{
    display: flex;
    justify-content: center;
}
#sec{
    font-weight: 500;
    font-size: 28px;
    position: absolute;
}
